{% extends "./base.html" %}
{% load static %}

{% block title %}Encuestas{% endblock title %}

{% block main %}
<section>
    <form action="{% url 'encuestas:vote' question.id %}" method="post">
    {% csrf_token %}
        <fieldset>
            <legend><h3>{{ question.question_text }}</h3></legend>
            {% if error_message %} 
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} </label>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>
</section>

{% endblock main %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $('#index-nav').removeClass('active');
        $('#index-nav').attr('aria-current', 'none');
        $('#polls-nav').attr('aria-current', 'polls-nav');
        $('#polls-nav').addClass('active');

    })
</script>
{% endblock scripts %}
