{% extends "./base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block main %}
<section>
    <p>
        <button id="show-new-question-btn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">
            New question
        </button>
    </p>
    <div id="collapseDiv" class="collapse">
        <div class="card card-body bg-primary-subtle">
            Form in process ...
        </div>
    </div>
</section>
{% endblock main %}


{% block scripts %}
<script src="{% static 'todoDB/rightSideBar.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#polls-nav').removeClass('active');
        $('#polls-nav').attr('aria-current', 'none');
        $('#index-nav').attr('aria-current', 'polls-nav');
        $('#index-nav').addClass('active');
    })
</script>
{% endblock scripts %}
