{% extends "./base.html" %}
{% load static %}

{% block title %}
Inicio
{% endblock title %}

{% block main %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'encuestas:index' %}">Inicio</a></li>
        </ul>
    </nav>
</header>
<section>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
                            <!-- 'app_name:path_name' parametros -->
            <li><a href="{% url 'encuestas:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nada por aquí. Espera a que se publiquen nuevas encuestas.</p>
    {% endif %}
</section>
{% endblock main %}
